* {
  box-sizing: border-box;
}

body {
  background-color: rgb(251, 250, 252);
  display: flex;
  font-family: "Montserrat";
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.testimonials-container {
  background-color: #0b2887;
  border-radius: 15px;
  color: #ffffff;
  margin: 20px auto;
  max-width: 768px;
  padding: 50px 80px;
  position: relative;

  .quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;

    &-right {
      left: 40px;
    }

    &-left {
      right: 40px;
      rotate: 180deg;
    }
  }

  .testimonial {
    line-height: 28px;
    text-align: justify;
  }

  .centered-items {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      border-radius: 50%;
      height: 75px;
      width: 75px;
      object-fit: cover;
    }

    .user-details {
      margin-left: 10px;

      .username {
        margin: 0;
      }

      .role {
        font-weight: normal;
        margin: 2px 0;
      }
    }
  }

  .progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
    margin: 0.8rem 0;
  }

  @keyframes grow {
    0% {
      transform: scaleX(0);
    }
  }

  @media (max-width: 768px) {
    padding: 20px 30px;

    .quote-right {
      left: 80%;
      top: 0;
    }

    .quote-left {
      top: 0;
      left: 97%;
    }
  }
}
