body {
  background-color: #3d3d3d;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .wrapper {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 650px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
      flex: 1;
      flex-basis: 300px;
      flex-grow: 0;
      height: 250px;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      overflow: hidden;
      position: relative;
      margin-bottom: 1rem;

      img {
        width: 100%;
        height: 100%;
        transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      }

      .descriptions {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        transition: all 0.7s ease-in-out;
        padding: 5px 10px;
        box-sizing: border-box;
        clip-path: circle(0% at 100% 100%);
        color: #ffffff;
      }

      &:hover .descriptions {
        left: 0px;
        transition: all 0.5s ease-in-out;
        clip-path: circle(75%);
        margin-top: 1rem;
      }

      &:hover {
        transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        transform: scale(1.03);

        img {
          transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
          transform: scale(2);
          filter: blur(1px);
        }
      }

      h1 {
        color: #11027b;
        letter-spacing: 1px;
        margin: 0px;
        text-shadow: 1px 1px 2px #fff, 0 0 1em blue, 0 0 0.2em blue;
      }

      p {
        line-height: 24px;
        height: 70%;
      }

      button {
        width: fit-content;
        height: 40px;
        cursor: pointer;
        border-style: none;
        background-color: #110b7f;
        font-size: 15px;
        outline: none;
        border-radius: 5px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
        transition: all 0.5s ease-in-out;

        a {
          color: #ffffff;
          &:hover {
            transition: all 0.5s ease-in-out;
            color: yellow;
          }
        }
      }
    }
  }
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px;
    }
  }
}

.tags {
  .hidden {
    display: none;
  }

  li {
    padding: 0 0.5em;
    background-color: #313131;
    color: #999;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #222;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    margin: 2px;
    &.html {
      color: black;
      background-color: #e96228;
    }
    &.css {
      color: white;
      background-color: #2862e9;
    }
    &.js {
      color: black;
      background-color: #efd81d;
    }
    &.sass {
      color: black;
      background-color: #c76494;
    }
    &.symfony {
      color: white;
      background-color: black;
    }
    &.react {
      color: white;
      background-color: #5ed3f3;
    }
    &.wordpress {
      color: black;
      background-color: #28799e;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.header {
  background: linear-gradient(#767373, #d6d6d6);
  i {
    display: flex;
    justify-content: flex-end;
  }
  span {
    margin: auto;
    padding: 0 0.2rem;
    &.symbol {
      margin: 0.2rem 1rem;
    }
  }
}
