body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  perspective: 1000px;
  background-color: rgb(52, 52, 252);
}

.scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0);
  animation: rotate 10s infinite linear;
}

.cube div {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgb(158 196 255 / 35%);
  border: 2px solid #000000;
}

.front {
  transform: translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes rotate {
  from {
    transform: rotateX(0) rotateY(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(18, 18, 254, 0.811);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  transition: border-radius 0.3s ease;
  position: relative;
  overflow: hidden;
  padding: 3%;
  cursor: pointer;
}

@keyframes gradientMove {
  0% {
    background-position: 31% 0%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 31% 0%;
  }
}
.btn:hover {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.763),
    rgba(0, 38, 255, 0.495),
    rgb(72, 72, 250),
    white
  );
  background-size: 200% 200%;
  animation: gradientMove 1s linear infinite;
  border-radius: 20px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1%;
  text-decoration: none;
}
