body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  perspective: 1000px;
  background-color: rgb(52, 52, 252);
}

.scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0);
  animation: rotate 10s infinite linear;
}

.cube div {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgb(158 196 255 / 35%);
  border: 2px solid #000000;
}

.front {
  transform: translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes rotate {
  from {
    transform: rotateX(0) rotateY(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
