body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

h1 {
  font-size: 24px;
  margin: 10px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

p {
  font-size: 12px;
  font-weight: lighter;
  color: #242424;
  span a :before {
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: #ffffff;
    }
  }
  i {
    margin: 0 1rem;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(-15px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
  }
}

.presentation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .avatar {
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;

    #text {
      font-size: 1rem;

      span {
        text-decoration: underline red 3px;
      }

      &:after {
        content: "";
        animation: clignote 0.5s infinite linear;
        width: 2px;
        height: 1rem;
        display: inline-block;
        background: #242424;
      }
    }
  }
}

@keyframes clignote {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(18, 18, 254, 0.811);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  transition: border-radius 0.3s ease;
  position: relative;
  overflow: hidden;
  padding: 3%;
  cursor: pointer;
}

@keyframes gradientMove {
  0% {
    background-position: 31% 0%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 31% 0%;
  }
}
.btn:hover {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.763),
    rgba(0, 38, 255, 0.495),
    rgb(72, 72, 250),
    white
  );
  background-size: 200% 200%;
  animation: gradientMove 1s linear infinite;
  border-radius: 20px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1%;
  text-decoration: none;
}